.typing-effect {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  color: transparent; /* Ensure text starts invisible */
  background: linear-gradient(to right, #3b82f6, #10b981); /* Tailwind colors */
  -webkit-background-clip: text; /* Apply gradient to text */
  background-clip: text;
  animation: typing 3s steps(20, end) forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


/* Keyframe animation for liquid flow effect */
@keyframes liquidFlow {
  0% {
    box-shadow: 0px 0px 20px rgba(0, 30, 102, 0.8), inset 0px 0px 15px rgba(0, 30, 102, 0.6);
  }
  50% {
    box-shadow: 0px 0px 30px rgba(0, 30, 102, 1), inset 0px 0px 25px rgba(0, 30, 102, 0.8);
  }
  100% {
    box-shadow: 0px 0px 20px rgba(0, 30, 102, 0.8), inset 0px 0px 15px rgba(0, 30, 102, 0.6);
  }
}

/* Button style with the liquid flow animation */
.liquid-button {
  width: 100%;
  padding: 16px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 30, 102, 0.8), inset 0px 0px 15px rgba(0, 30, 102, 0.6);
  animation: liquidFlow 3s infinite alternate ease-in-out;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #9b6aff, #f72eb7, #ff1a41);
  transition: opacity 0.3s ease-in-out;
}

/* Text styling */
.liquid-button-text {
  font-size: 1.5rem;
  text-align: center;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #9b6aff, #f72eb7, #ff1a41);
}
